/*
nav ul {
	display: block;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding-top: 0;
}

nav ul li:first-child {
	display: block;
	padding: 0;
	margin-bottom: 1.2360em;
	text-align: center;
}

nav ul li:last-child {
	padding-right: 0.618033em;
}

footer ul {
	flex-direction: column;
}

footer ul li {
	padding: 0;
	margin-bottom: 1.2360em;
	order: 1;
}

footer ul li:first-child {
	margin-bottom: 0;
	text-align: center;
	order: 2;
}

footer ul li:last-child {
	margin-bottom: 0;
	text-align: center;
	order: 2;
}
*/
