html, body {
	font-size: calc(min(max(2.153499vw, 16px), 20px));
}

html {
	height: 100%;
}

body {
	/* font-family: "Noto Sans", sans-serif, "Noto Emoji"; */
	font-family: "Noto Sans Mono", monospace, monospace, "Noto Emoji";
	font-weight: 300;
	color: var(--foreground);
	background-color: var(--background);
	line-height: 1.618033;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

strong {
	font-weight: 500;
}

code,
kbd {
	font-family: "Noto Sans Mono", monospace, monospace;
	color: var(--de-emphasis);
}

pre {
	font-family: "Noto Sans Mono", monospace, monospace;;
	margin-top: 0;
	margin-bottom: 0;
	overflow-x: auto;
}

a {
	color: var(--green);
	text-decoration: none;
}

a:active,
a:hover {
	color: var(--yellow	);
}

nav {
	flex: 0 0 auto;
	border-bottom: 1px solid var(--de-emphasis);
}

nav ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	flex: 0 1 0;
	display: block;
	padding: 0 0.618033em;
	margin: auto 0;
	text-align: right;
	white-space: nowrap;
}

nav ul li:first-child {
	flex: 1 1 0;
	padding-top: 0;
	padding-left: 0;
	text-align: left;
}

nav ul li:last-child {
	padding-right: 0;
}

article,
body > div {
	flex: 1 1 auto;
}

article img {
	width: 48rem;
	margin-left: -8rem;
	margin-bottom: -0.46352475em;
	position: relative;
	left: 0;
	border-radius: 0.618033rem;
}

h1 {
	font-size: 161.8033%;
	font-weight: 500;
	margin: 1.618033em auto 1em;
	padding-bottom: 0.3090rem;
	text-align: center;
	border-bottom: 1px solid var(--de-emphasis);
}

h2 {
	font-size: 131.0820%;
	font-weight: 500;
	margin: 1.618033em 0 1em;
}

h3 {
	font-size: 115.6317%;
	font-weight: 500;
	margin: 1.618033em 0 1em;
}

h4 {
	font-size: 107.8615%;
	font-weight: 500;
	margin: 1.618033em 0 1em;
}

h5 {
	font-size: 103.9537%;
	font-weight: 500;
	margin: 1.618033em 0 1em;
}

h6 {
	font-size: 101.9883%;
	font-weight: 500;
	margin: 1.618033em 0 1em;
}

h1 + h2,
h1 + ol,
h1 + p,
h1 + ul,
h2 + h3,
h2 + ol,
h2 + p,
h2 + ul,
h3 + h4,
h3 + ol,
h3 + p,
h3 + ul,
h4 + h5,
h4 + ol,
h4 + p,
h4 + ul,
h5 + h6,
h5 + ol,
h5 + p,
h5 + ul,
h6 + ol,
h6 + p,
h6 + ul {
	margin-top: 0;
}

p {
	margin: 1.618033em 0;
}

ol,
ul {
	margin: 1.618033em 0;
	padding-left: 2.6180em;
}

blockquote {
	margin: 1em;
	border-left: 1px solid var(--de-emphasis);
	padding-left: 1em;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

td,
th {
	border: 1px solid var(--de-emphasis);
	padding: 0.1618033em 0.3236066em;
}

hr {
	border: 0;
	border-bottom: 1px solid var(--de-emphasis);
	margin: 1.618033em auto;
	width: 61.8033%;
}

hr:last-of-type {
	width: 100%
}

footer {
	flex: 0 0 auto;
	border-top: 1px solid var(--de-emphasis);
}

footer ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
}

footer ul li {
	flex: 1 1 0;
	display: block;
	padding: 0 0.618033em;
	text-align: center;
	white-space: nowrap;
}

footer ul li:first-child {
	padding-left: 0;
	text-align: left;
}

footer ul li:last-child {
	padding-right: 0;
	text-align: right;
}

/* Scrollbar styling */

* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar) transparent;
 }
  
*::-webkit-scrollbar {
	width: 0.3090rem;
	height: 0.3090rem;
}
  
*::-webkit-scrollbar-track {
	background-color: transparent;
}
  
*::-webkit-scrollbar-corner {
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar);
	border-radius: 0.1545rem;
	border: none;
}

/* Selection Styling */

::selection {
	background-color: var(--selection);
}

/* General per-class and ID styling */

.outer-wrapper {
	padding: 0 1.618033rem;
}

.inner-wrapper {
	max-width: 72ch;
	margin: 0 auto;
}

.table-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

nav span#logo {
	display: inline-block;
	margin-right: 0.1545em;
	font-size: 161.8033%;
	vertical-align: middle;
}

div.highlight {
	width: calc(100% + 0.618033rem);
	margin-left: -0.927050rem;
	padding: 0.3090rem 0.618033rem;
	border-radius: 0.618033rem;
}

pre.highlight {
	padding: 0.3090rem 0;
}

/* Page-specific styling */

.homepage div#logo {
	width: fit-content;
	margin: 0.3090em auto 0.1545em auto;
	font-size: 485.4099%;
	text-align: center;
}

.homepage #logo + h1 {
	margin-top: 0;
}

.site-title {
	font-weight: 500;
}
