body {
	font-size: 12pt;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto, "Droid Sans", Oxygen, "Fira Sans", Ubuntu, Cantarell, "Helvetica Neue", "Calibri", "Liberation Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: var(--foreground);
	background-color: var(--background);
	line-height: 1.618033;
}

code,
kbd {
	font-size: 98.3819%;
	font-family: SFMono-Regular, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", Consolas, "Roboto Mono", "Droid Sans Mono", "Fira Mono", "Source Code Pro", "Liberation Mono", "Courier New", Courier, monospace, monospace;
}

pre {
	font-size: 93.5728%;
	font-family: SFMono-Regular, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", Consolas, "Roboto Mono", "Droid Sans Mono", "Fira Mono", "Source Code Pro", "Liberation Mono", "Courier New", Courier, monospace, monospace;
	margin-top: 0;
	margin-bottom: 0;
	overflow-x: auto;
}

pre > code,
pre > kbd {
	font-size: 100%;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:active,
a:hover {
	color: var(--purple);
}

nav {
	border-bottom: 1px solid var(--foreground-fade);
}

article img {
	width: 100%;
	border-radius: 0.618033rem;
}

h1 {
	font-size: 161.8033%;
	margin: 1.618033em auto 1em auto;
	padding-bottom: 0.1545em;
	/* width: 80.5836%; */
	text-align: center;
	border-bottom: 1px solid var(--foreground-fade);
}

h2 {
	font-size: 131.0820%;
	margin: 1.618033em 0 1em 0;
}

h3 {
	font-size: 115.6317%;
	margin: 1.618033em 0 1em 0;
}

h4 {
	font-size: 107.8615%;
	margin: 1.618033em 0 1em 0;
}

h5 {
	font-size: 103.9537%;
	margin: 1.618033em 0 1em 0;
}

h6 {
	font-size: 101.9883%;
	margin: 1.618033em 0 1em 0;
}

h1 + h2,
h1 + ol,
h1 + p,
h1 + ul,
h2 + h3,
h2 + ol,
h2 + p,
h2 + ul,
h3 + h4,
h3 + ol,
h3 + p,
h3 + ul,
h4 + h5,
h4 + ol,
h4 + p,
h4 + ul,
h5 + h6,
h5 + ol,
h5 + p,
h5 + ul,
h6 + ol,
h6 + p,
h6 + ul {
	margin-top: 0;
}

p {
	margin: 1.618033em 0;
}

ol,
ul {
	margin: 1.618033em 0;
	padding-left: 2.6180em;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

td,
th {
	border: 1px solid var(--foreground);
	padding: 0.1618033em 0.3236066em;
}

hr {
	border: 0;
	border-bottom: 1px solid var(--foreground-fade);
	margin: 1.618033em auto;
	width: 61.8033%;
}

hr:last-of-type {
	width: 100%
}

footer {
	border-top: 1px solid var(--foreground-fade);
}

footer ul {
	padding: 0;
	display: flex;
	justify-content: center;
}

footer ul li {
	display: block;
	text-align: center;
}

footer ul li:first-child {
	text-align: left;
}

footer ul li:last-child {
	text-align: right;
}

/* Scrollbar styling */

* {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-fade) var(--background);
 }
  
*::-webkit-scrollbar {
	width: 0.3090rem;
	height: 0.3090rem;
}
  
*::-webkit-scrollbar-track {
	background: var(--background);
}
  
*::-webkit-scrollbar-corner {
	background: var(--background);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--foreground-fade);
	border-radius: 0.1545rem;
	border: none;
}  

/* Per-class and ID styling */

.outer-wrapper {
	padding: 0 1.618033rem;
}

.inner-wrapper {
	max-width: 34rem;
	margin: 0 auto;
}

.table-wrapper {
	max-width: 34rem;
	overflow-x: auto;
}

div.highlight {
	padding: 0.3090rem 0.618033rem;
	border-radius: 0.618033rem;
}

pre.highlight {
	padding: 0.3090rem 0;
}

/* Page-specific styling */

#README #logo {
	width: fit-content;
	margin: 0.3090em auto 0.1545em auto;
	font-size: 485.4099%;
}

#README #logo + h1 {
	margin-top: 0;
}
