/* https://github.com/chriskempson/tomorrow-theme#tomorrow */

:root {
	--background: #ffffff;
	--foreground: #000000;
	--foreground-fade: #323232;
	--red: #f85552;
	--yellow: #dfa000;
	--green: #8da101;
	--aqua: #35a77c;
	--blue: #3a94c5;
	--purple: #df69ba;
}
