html, body {
	font-size: 12pt;
}

body {
	font-family: Tinos, "Noto Serif", Cambria, "Times New Roman", "Liberation Serif", Times, serif;
}

code,
kbd {
	font-size: 87.0557%;
}

pre {
	font-size: 83.8196%;
}

pre > code,
pre > kbd {
	font-size: 100%;
}

a {
	text-decoration: underline;
}

footer,
nav {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	break-after: avoid;
}

h1:first-of-type {
	margin-top: 0;
}

pre {
	overflow-x: hidden;
}

/* Per-class and ID styling */

.outer-wrapper {
	padding: 0;
}

.inner-wrapper {
	max-width: none;
	margin: 0;
}

div.highlight {
	padding: 0;
	border-radius: 0;
}

pre.highlight {
	padding: 0;
}
