html, body {
	font-size: 11pt;
}

body {
	font-family: "Noto Serif", Tinos, Cambria, "Times New Roman", "Liberation Serif", Times, serif, "Noto Emoji";
	font-weight: 400;
	padding-left: 1rem; /* WHY?!?!? */	
}

strong {
	font-weight: 700;
}

code,
kbd,
pre {
	font-size: 87.0557%; /* 100-(1.618033*8) */
}

pre {
	white-space: pre-wrap;
}

pre > code,
pre > kbd {
	font-size: 100%;
}

a {
	color: var(--blue);
	text-decoration: underline;
	font-weight: inherit;
}

footer,
nav {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	break-after: avoid;
	font-weight: 700;
}

pre {
	overflow-x: hidden;
}

/* Per-class and ID styling */

.outer-wrapper {
	padding: 0;
}

.inner-wrapper {
	max-width: none;
	margin: 0;
}

div.highlight {
	width: 100%;
	margin-left: 0;
	padding: 0;
	border-radius: 0;
}

pre.highlight {
	padding: 0;
}
