<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		{% assign page_title = page.title %}
		{% unless page_title %}
			{% assign title_length = page.name.size | minus: 14 %}
			{% assign page_title_array = page.name | slice: 11, title_length | split: "-" %}
			{% assign page_title = "" %}
			{% for word in page_title_array %}
				{% assign capitalized_word = word | capitalize %}
				{% assign page_title = page_title | append: " " | append: capitalized_word | replace: " 0", " " %}
			{% endfor %}
		{% endunless %}

		<title>{{ page_title | lstrip | rstrip | smartify }}</title>

		<link rel="icon" href="/{{ site.icon }}">
		<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">

		{% assign page_path_array = page.url | split: "/" %}

		{% assign page_description = site.description %}

		{% if page_path_array[1] == "log" or page_path_array[1] == "notes" or page_path_array[1] == "engagement" or page_path_array[1] == "wedding" or page_path_array[1] == "digital-orrery" or page_path_array[1] == "essays" or page_path_array[1] == "newsletters" or page_path_array[1] == "photography" or page_path_array[1] == "poetry" %}
			{% assign page_content_array = page.content | markdownify | strip_html | smartify | newline_to_br | split: "<br />" %}
			{% for line in page_content_array %}
				{% unless forloop.first %}
					{% assign fixed_line = line | newline_to_br | replace: "<br />", "" | strip %}
					{% if fixed_line.size > 0 %}
						{% assign page_description = fixed_line %}
						{% break %}
					{% endif %}
				{% endunless %}
			{% endfor %}
		{% endif %}
		
		<meta name="description" content="{{ page_description }}">

		{% assign page_image = site.image %}
		{% assign page_fragments = page.content | split: "![" %}
		{% for page_fragment in page_fragments %}
			{% if page_fragment contains "](" %}
				{% assign image_fragments = page_fragment | split: "](" %}
				{% for image_fragment in image_fragments %}
					{% if image_fragment contains ".webp)" or image_fragment contains ".jpg)" or image_fragment contains ".png)" or image_fragment contains ".gif)" %}
						{% assign page_image = image_fragment | split: ")" | first %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
		{% assign first_image_character = page_image | slice: 0 %}
		{% unless first_image_character == "/" %}
			{% assign page_processed_name = page.name | replace: ".md", ".html" %}
			{% assign page_image = page.url | replace: page_processed_name, "" | append: page.image %}
		{% endunless %}

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@necopinus">
		<meta name="twitter:title" content="{{ page_title }}">
		<meta name="twitter:description" content="{{ page_description }}">
		<meta name="twitter:image" content="{{ site.url }}{{ page_image }}">

		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ page_title }}">
		<meta property="og:description" content="{{ page_description }}">
		<meta property="og:image" content="{{ site.url }}{{ page_image }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">

		{% include font-headers.html %}

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/fonts.css">
		{% if page_path_array[1] == "engagement" or page_path_array[1] == "wedding" or page_path_array[1] == "digital-orrery" or page_path_array[1] == "photography" %}
			<link rel="stylesheet" href="/css/page-dark.css" media="screen">
			<link rel="stylesheet" href="/css/code-dark.css" media="screen">
		{% else %}
			<link rel="stylesheet" href="/css/page-light.css" media="screen">
			<link rel="stylesheet" href="/css/code-light.css" media="screen">
		{% endif %}
		<link rel="stylesheet" href="/css/layout.css">
		<link rel="stylesheet" href="/css/layout-934.css" media="(max-width: 934px)">
		<link rel="stylesheet" href="/css/layout-922.css" media="(max-width: 922px)">
		<link rel="stylesheet" href="/css/layout-788.css" media="(max-width: 788px)">
		<link rel="stylesheet" href="/css/fonts-print.css" media="print">
		<link rel="stylesheet" href="/css/page-print.css" media="print">
		<link rel="stylesheet" href="/css/code-print.css" media="print">
		<link rel="stylesheet" href="/css/print.css" media="print">
	</head>
	<body class="{{ site.url | replace: 'https://' | split: '.' | first }} {{ page.layout }}" id="{{ page.name | replace: '.md', '' }}">
		{{ content }}
	</body>
</html>
