<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		{% assign page_title = page.title | remove: "🎐" | remove: "📸" | remove: "📯" | remove: "🌱" | remove: "✒️" | remove: "📷" | remove: "🔮" | remove: "🏡" | remove: "📓" | remove: "🪵" | trim %}

		<title>{{ page_title }}</title>

		<link rel="icon" href="/{{ site.icon }}">
		<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">

		{% assign page_path_array = page.url | split: "/" %}

		{% assign page_description = site.description %}

		{% if page_path_array[1] == "log" or page_path_array[1] == "notes" or page_path_array[1] == "engagement" or page_path_array[1] == "wedding" or page_path_array[1] == "digital-orrery" or page_path_array[1] == "essays" or page_path_array[1] == "newsletters" or page_path_array[1] == "photography" or page_path_array[1] == "poetry" %}
			{% assign page_content_array = page.content | markdownify | strip_html | smartify | newline_to_br | split: "<br />" %}
			{% for line in page_content_array %}
				{% unless forloop.first %}
					{% assign fixed_line = line | newline_to_br | replace: "<br />", "" | strip %}
					{% if fixed_line.size > 0 %}
						{% assign page_description = fixed_line %}
						{% break %}
					{% endif %}
				{% endunless %}
			{% endfor %}
		{% endif %}
		
		<meta name="description" content="{{ page_description }}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@necopinus">
		<meta name="twitter:title" content="{{ page_title }}">
		<meta name="twitter:description" content="{{ page_description }}">
		<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">

		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ page_title }}">
		<meta property="og:description" content="{{ page_description }}">
		<meta property="og:image" content="{{ site.url }}{{ page.image }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/code-tomorrow.css" media="print">
		<link rel="stylesheet" href="/css/page-tomorrow.css" media="print">
		{% if page_path_array[1] == "engagement" or page_path_array[1] == "wedding" or page_path_array[1] == "digital-orrery" or page_path_array[1] == "photography" %}
			<link rel="stylesheet" href="/css/code-tomorrow-night-bright.css" media="screen">
			<link rel="stylesheet" href="/css/page-tomorrow-night.css" media="screen">
		{% else %}
			<link rel="stylesheet" href="/css/code-tomorrow-night.css" media="screen and (prefers-color-scheme: light)">
			<link rel="stylesheet" href="/css/code-tomorrow-night-bright.css" media="screen and (prefers-color-scheme: dark)">
			<link rel="stylesheet" href="/css/page-tomorrow.css" media="screen and (prefers-color-scheme: light)">
			<link rel="stylesheet" href="/css/page-tomorrow-night.css" media="screen and (prefers-color-scheme: dark)">
		{% endif %}
		<link rel="stylesheet" href="/css/layout.css">
		<link rel="stylesheet" href="/css/layout-45.css" media="(max-width: 45.750558rem)">
		<link rel="stylesheet" href="/css/layout-38.css" media="(max-width: 38.803482rem)">
		<link rel="stylesheet" href="/css/layout-35.css" media="(max-width: 35.236066rem)">
		<link rel="stylesheet" href="/css/print.css" media="print">
	</head>
	<body class="{{ site.url | replace: 'https://' | split: '.' | first }} {{ page.layout }}" id="{{ page.name | replace: '.md', '' }}">
		{{ content }}
	</body>
</html>
