---
layout: default
---
<div class="outer-wrapper">
	<div class="inner-wrapper">
		<div title="{{ site.name }}" aria-hidden="true" id="logo">{{ site.logo }}</div>
		{{ content }}
	</div>
</div>

<footer class="outer-wrapper">
	<div class="inner-wrapper">
		<p>Site navigation:</p>
		<ul>
			<li><a href="/atom.xml">Site Feed</a></li>
		</ul>
		<p>Page information:</p>
		<ul>
			<li><a href="https://github.com/necopinus/{{ site.url  | replace: 'https://' }}/blob/main/{{ page.path }}">View on GitHub</a></li>
			<li>©️ {{ site.author }}</li>
		</ul>
	</div>
</footer>
