---
layout: default
---
<nav class="outer-wrapper">
	<div class="inner-wrapper">
		{% assign page_path_array = page.url | split: "/" %}
		{% if page_path_array.size > 2 %}
			{% assign category_name = page_path_array[1] %}
			{% assign category_page_url = "/" | append: category_name | append: ".html" %}
			{% assign category_page = site.pages | find: "url", category_page_url %}
			{% unless category_page %}
				{% assign category_name = "NONE" %}
			{% endunless %}
		{% else %}
			{% assign category_name = "NONE" %}
		{% endif %}

		<ul>
			<li><a href="/index.html"><span title="{{ site.name }}" aria-hidden="true" id="logo">{{ site.logo }}</span> {{ site.name }}</a></li>
			{% unless category_name == "NONE" %}
				<li><a href="{{ category_page.url }}">{{ category_page.title }}</a></li>
			{% endunless %}
		</ul>
	</div>
</nav>

{{ content }}
