---
layout: navigation
---
<div class="outer-wrapper">
	<div class="inner-wrapper">
		{{ content }}

		{% assign category_name = page.name | replace: ".md", "" %}

		{% assign post_list = "" | split: "" %}

		{% for the_page in site.pages %}
			{% assign page_path_array = the_page.url | split: "/" %}
			{% if page_path_array[1] == category_name %}
				{% assign post_list = post_list | push: the_page %}
			{% endif %}
		{% endfor %}
		{% assign post_list = post_list | uniq | sort: "url" | reverse %}

		<ul>
			{% for the_post in post_list %}
				{% assign the_date = the_post.name | slice: 0, 10 %}
				<li><time datetime="{{ the_date }}">{{ the_date | date: "%B %e, %Y" | replace: "  ", " " }}</time> <a href="{{ the_post.url }}">{{ the_post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
