---
layout: navigation
---
<article class="outer-wrapper">
	<div class="inner-wrapper">
		{{ content }}
	</div>
</article>

<footer class="outer-wrapper">
	<div class="inner-wrapper">
		<p>Site navigation:</p>
		<ul>
			<li><a href="/index.html">Home</a></li>
			{% if site.name == "Cardboard Iguana Security" %}
				<li><a href="/log.html">A Hacker’s Log</a></li>
				<li><a href="/notes.html">A Hacker’s Notes</a></li>
			{% elsif site.name == "Château MaxMin()" %}
				<li><a href="/engagement.html">Engagement Photos</a></li>
				<li><a href="/wedding.html">Wedding Photos</a></li>
			{% elsif site.name == "necopinus.xyz" %}
				<li><a href="/photography.html">Photography</a></li>
				<li><a href="/essays.html">Essays</a></li>
				<li><a href="/poetry.html">Poetry</a></li>
				<li><a href="/newsletters.html">Newsletter Archive</a></li>
			{% endif %}
			<li><a href="/atom.xml">Site Feed</a></li>
		</ul>
		<p>Page information:</p>
		<ul>
			<li><a href="https://github.com/necopinus/{{ site.url  | replace: 'https://' }}/blob/main/{{ page.path }}">View on GitHub</a></li>
			<li>©️ {{ site.author }}{% if category_name == "engagement" or category_name == "wedding" %} (text) &amp; Carl Bower (photo){% endif %}</li>
		</ul>
	</div>
</footer>
